body {
  font-family: "Open Sans";
  height: 100vh;
  background-image: url("../src/assets/blob-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

label {
  color: white;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

input {
  padding: 1.1rem;
  background-color: rgba(255, 255, 255, 0.07);
  border: none;
  width: 60%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  color: white;
}

input:focus::placeholder {
  color: transparent;
}

.forget-password-text {
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 200;
}

.forget-password-text:hover {
  color: green;
}

.google-oauth-container {
  align-self: flex-start;
}

.google-oauth-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: white;
  border: none;
  padding: 0.25rem 0.75rem;
  border-radius: 15px;
  margin-top: 1rem;
}

.third-party-auth {
  color: white;
  font-weight: 100;
  font-size: 0.8rem;
  margin-top: 1rem;
  opacity: 50%;
}
