@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans";
}

.global-background {
  height: 100vh;
  background-image: url("../src/assets/blob-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

label {
  color: white;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  opacity: 90%;
}

.forget-password-text {
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 200;
}

.forget-password-text:hover {
  color: green;
}

.google-oauth-container {
  align-self: flex-start;
}

.google-oauth-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: white;
  border: none;
  color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.google-oauth-submit:hover {
  background-color: #ff474c;
  color: white;
}

.third-party-auth {
  color: white;
  font-weight: 100;
  font-size: 0.8rem;
  margin-top: 1rem;
  opacity: 50%;
}

.button-container {
  display: flex;
  gap: 1rem;
}

@media (max-width: 500px) {
  form {
    align-items: center;
  }
  input {
    width: 80%;
    margin-bottom: 1rem;
  }

  .button-container {
    justify-content: center;
  }

  .google-oauth-container {
    width: 100%;
  }
}
